* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $font;
    color: $black;
}

.button {
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgba($light-black, 0.95);
    color: $light-grey;
}