.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 4.5rem;
    border-bottom: 1px solid rgba($light-grey, 0.4);
    font-size: 1.2rem;
    background-color: rgba($white, 0.2);

    .title {
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
    }

    .option-list {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .option {
            cursor: pointer;
            color: $dark-grey;

            &:hover {
                color: $black;
            }
        }
    }
}