//color-scheme
$white: #e8e6e5;
$light-grey: #bcbcc2;
$grey: #787886;
$dark-grey: #595969;
$light-black: #363748;
$black: #121220;
$text: #cacaca;
$text-secondary: #aaaaaa;

//typography
$font: 'Hanken Grotesk', sans-serif;
$monospace-font: 'Noto Sans Mono', monospace;